@model IEnumerable<Ellite_Car_Rental.Models.Booking>

@{
    ViewBag.Title = "summary";
}

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

<h1>CONGRATULATIONS BOOKING IS CONFIRMED</h1>

<button class="button btn-lg" type="button" onclick="location.href='@Url.Action("Index", "Carts")'"> Edit Boooking</button>

